@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
}
.mat-drawer:not(.mat-drawer-side){
    box-shadow: none;
    border-left: solid 1px rgba(0,0,0,.12);
    border-right: none;
}
::ng-deep .mat-tab-disabled.mat-tab-label {
    min-width: 88px;
}

.notifications-drawer {
    text-align: left;
    font-family: "FiraSans-Regular";
    font-size: 13px;
}
.closeBtn{
    &:hover{
        color: black;
    }
}
.notifications-btn-container .btn {
    min-width: auto;
    padding: 3px 8px 1px;
    margin: 0px 10px 10px 0px;
}
.notifications-btn-container{
    max-width: 381px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
// .mat-drawer-side.mat-drawer-end{
    
// }