<button (click)='drawer.toggle()' >Click</button>
<mat-drawer #drawer
mode="over"
position="end"
disableClose="false"
style="padding-top: 57px"
opened="true">
<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab labelClass="text-uppercase" label="Notifications">
    <div class="notifications-btn-container">
      <button class="btn rounded-pill btn-primary btn-sm">all</button>
      <button class="btn btn-primary-outline rounded-pill btn-sm">
        swastika updates
      </button>
      <button class="btn btn-primary-outline rounded-pill btn-sm">
        research idea
      </button>
      <button class="btn btn-primary-outline rounded-pill btn-sm">
        offers
      </button>
    </div>
    <div>
    <div class="research p-3 border rounded m-2">
      <div class="d-flex flex-row justify-content-between">
        <div class="text-primary font-13 mb-2">RESEARCH IDEAS</div>
        <small class="fontsize-11">Jan 17, 3:11 PM&nbsp;</small>
      </div>
  
      <div class="clearfix"></div>
      <div class="hightlight warning">
        Buy GOLDM above Rs.56300 <br />
        Target : Rs.56080 <br />
        Stoploss : Rs.56465 <br />
        Product Type : Intraday
      </div>
      <div class="clearfix"></div>
      <div class="pt-3">
        <button class="btn btn-outline-dark mr-2 p-1">Sell</button>
        <button class="btn btn-outline-dark p-1">View Quotes</button>
      </div>
    </div>
  </div>
  </mat-tab>
  <mat-tab
    labelClass="text-uppercase"
    label="Reminder"
  >
    <div *ngIf="!reminderTypeList">
      <button
        class="btn btn-primary btn-block no-border pt-1 pb-1 text-uppercase"
        (click)="reminderTypeList = !reminderTypeList"
      >
        set new reminder
      </button>
      <div class="text-center">
        <p>No Reminders Added</p>
      </div>
    </div>
  
    <div *ngIf="reminderTypeList && !stockRelated">
      <mat-list disableRipple="true">
        <mat-list-item (click)="reminderTypeList = !reminderTypeList">
          <div
            class="w-100 d-flex flex-row align-items-center montserrat"
            style="color: #969696"
          >
            <mat-icon matListItemIcon>keyboard_arrow_left</mat-icon>
            <small matListItemTitle class="mr-3 font-weight-normal">
              List of reminders
            </small>
          </div>
        </mat-list-item>
      </mat-list>
      
      <mat-list>
        <mat-list-item (click)="stockRelated = true">
          <div class="w-100 d-flex justify-content-between flex-row">
            <div matListItemTitle>Stock related</div>
            <mat-icon matListItemIcon>keyboard_arrow_right</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="w-100 d-flex justify-content-between flex-row">
            <div matListItemTitle>If stock need make if index</div>
            <mat-icon matListItemIcon>keyboard_arrow_right</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div *ngIf="reminderTypeList && stockRelated">
      <mat-list disableRipple="true" class="w-100 row">
        <mat-list-item (click)="stockRelated = !stockRelated">
          <div
            class="w-100 d-flex flex-row align-items-center montserrat"
            style="color: #969696"
          >
            <mat-icon matListItemIcon>keyboard_arrow_left</mat-icon>
            <small matListItemTitle class="mr-3 font-weight-normal">
              Set a stock related reminder
            </small>
          </div>
        </mat-list-item>
      </mat-list>
      <div class="w-100 d-flex flex-column align-items-center" >
      <mat-form-field class="w-75 ">
      <mat-label>Search for Stock</mat-label>
      <input matInput />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
      </div>
      
      <!-- <form [formGroup]="options">
        
       
        <mat-button-toggle-group appearance="standard">
          <mat-button-toggle></mat-button-toggle>
          <mat-button-toggle></mat-button-toggle>
        </mat-button-toggle-group>
        
        <div>
          Alert will be sent on <br />
          mynameismric@gmail.com & +91 7509833819
        </div>
      </form> -->
    </div>
  </mat-tab>
  <mat-tab disabled="true">
    <ng-template mat-tab-label>
      <button (click)="drawer.toggle()" class="closeBtn" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
  </mat-tab-group>
</mat-drawer>
